<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
</head>

<body>
    <p>Hello Django Rest Framework</p>

    <p>visit "localhost:8000/api/employee" to view the employee details from the API
    </p>
    <p>Or "localhost:8000/department/list" to see the list of available departments in my Hello company </p>
    <p> TO create and view barcodes click
        <a href="{%url 'upload'%}">Here</a>
    </p>
</body>

</html>